@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Poppins&display=swap');
/*font-family: 'Crimson Text', serif;*/


.navigation nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.navigation nav h2 {
  font-family: 'Crimson Text', serif;
  font-size: 30px;

}

.navigation ul {
   display: flex;
}

.navigation nav h2 {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
}


nav a {
    text-decoration: none;
    color: #545454;
    margin-right: 50px;
    list-style-type: none;
}

nav a:hover {
  color: black;

	
}

